language: perl6
dist: bionic
arch:
  - amd64
  - ppc64le
sudo: true
before_install:
  - sudo apt-get update -qq
  - sudo apt-get install -qq -y libreadline6-dev
perl6:
  - latest
install:
  - rakudobrew build zef
  - zef install .
